@{
    Layout="Shared/_Layout.cshtml";
}

<h2>@Model["book"].GetTitle()</h2>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Author(s)</th>
            <th>Copies</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach(var author in @Model["book"].GetAuthors())
                {
                    <p><a href="/author/@author.GetId()">@author.GetLastName(), @author.GetFirstName()</a></p>
                }
            </td>
            <td>@Model["book"].CountCopies()</td>
        </tr>
    </tbody>
</table>

<form action='/book/delete/@Model["book"].GetId()' method="post">
    <button type="submit" name="button">Delete Book</button>
</form>


<h3>Add an author to this book:</h3>
<form action='/book/add_author/@Model["book"].GetId()' method='post'>
    <input id='book-id' name='book-id' type='hidden' value='@Model["book"].GetId()'>
    <label for='author-id'>Select an author</label>
    <select id='author-id' name='author-id' type='text'>
        @foreach (var author in @Model["allAuthors"])
        {
            <option value='@author.GetId()'>@author.GetFirstName() @author.GetLastName()</option>
        }
    </select>
    <button type='submit'>Add</button>
</form>

<h3>Update book title</h3>
<form action='/book/update_title' method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input name="book-id" type="hidden" value='@Model["book"].GetId()'>
    <label for="new-title">New Title</label>
    <input type="text" name="new-title">
    <button type="submit" name="button">Update</button>
</form>

<h3>Add more copies of this book</h3>
<form action="/book/add_copy" method="post">
    <input name="book-id" type="hidden" value='@Model["book"].GetId()'>
    <label for="copy-amount">Number of copies: </label>
    <input type="number" name="copy-amount">
    <button type="submit" name="button">Add</button>
</form>
