@{
    Layout="Shared/_Layout.cshtml";
}

<h2>@Model["patron"].GetFirstName() @Model["patron"].GetLastName()</h2>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Checked out books</th>
            <th>Due date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach(var book in @Model["patron"].CheckedOutBooks())
                {
                    <p><a href="/book/@book.GetId()">@book.GetTitle()</a></p>
                }
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<form action='/patron/delete/@Model["patron"].GetId()' method="post">
    <button type="submit" name="button">Delete Patron</button>
</form>

<h3>Check out a book for this patron</h3>
<form action="/book/checkout/@Model["patron"].GetId()" method="post">
    <input type="hidden" name="patron-id" value='@Model["patron"].GetId()'>
    <label for="book-id">Select a book</label>
    <select name="book-id" type="text">
        @foreach (var book in @Model["allBooks"])
        {
            <option value='@book.GetId()'>@book.GetTitle()</option>
        }
    </select>
    <button type="submit" name="button">Checkout book</button>

</form>
